onlyBuiltDependencies[]="msgpackr-extract"
onlyBuiltDependencies[]="@prisma/engines"
onlyBuiltDependencies[]="@prisma/client"
onlyBuiltDependencies[]="argon2"
onlyBuiltDependencies[]="esbuild"
onlyBuiltDependencies[]="sharp"
